h1{
  background-color:  gray;

  height:20%;
  font-size:3rem;
  text-align:center;
}
img{
  position: absolute;
  left: 20px;
  top: 10px;
  width:10%;
  height: 25%;
  border:3px solid black;
 margin-right:2rem;
}
#body{
		background-image: url('../images/background.jpg');

}
